body {
    font-family: 'Arial', sans-serif;
    /* Ajustar según Figma */
    background-color: #f0f0f0;
    /* Ajustar según Figma */
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

header h1 {
    margin-bottom: 20px;
}

.input-area,
.output-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.input-area div {
    display: flex;
    justify-content: center;
}

textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

#img-crypto {
    width: 200px;
    margin: 20px auto;
    display: block;
}

button {
    background-color: #4CAF50;
    /* Ajustar según Figma */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

.btn {
    margin: 0 10px;
}

footer {
    margin-top: 20px;
}